<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>NSAppTransportSecurity</key>
  <dict>
    <!-- ruleid: pepper.ios.ats-arbitrary-loads -->
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    <!-- ok: pepper.ios.ats-arbitrary-loads -->
    <key>NSAllowsLocalNetworking</key>
    <true/>
  </dict>
</dict>
</plist>
